.hello{
    font-size: 60px;
    margin-right: 20px;
    float: left
 }
.row1{
    width: 22%;
    margin: 25px;
    padding: 10px; 
    div{
        margin: auto;
        width: 50%;
        padding: auto 10px;
    }
}

.row2{
    float: right;
    width: 70%;
    margin: 25px;
    padding: 10px;
}
