.example-card {
    width: 40%;
    margin: auto;
    margin-top: 50px;
  }
.example-container {
  mat-form-field{
    padding: 10px;
  }
    display: flex;
    flex-direction: column;
  }

  .mat-raised-button{
    margin: 10px;
    padding: 5px;
    width: 100%;
  }
