<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Programming Place</span>
    <span class="example-spacer"></span>

    <button mat-button [matMenuTriggerFor]="menu">
      <span>{{username}}</span>
        <mat-icon>arrow_drop_down</mat-icon>
        <!-- <mat-icon>arrow_drop_up</mat-icon> -->
    </button>
      <mat-menu #menu="matMenu" [overlapTrigger]="false">
        <button mat-menu-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            <span> My Profile </span>  
        </button>
        <button mat-menu-item>
            <mat-icon>notifications</mat-icon>
            <span> Notifications </span>  
        </button>
      </mat-menu>

      <button  *ngIf="!isLoggedin()" mat-button routerLink="/login">
        Login & Signup
      </button>

    <button mat-button routerLink="/home">Home</button>
    <button mat-button routerLink="/about">About</button>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>
