<mat-card class="example-card">
    <mat-card-content>
      <h1>Login</h1>
      <p>Get access to your Orders, Wishlist and Recommendations</p>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)" novalidate>
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Enter your email" formControlName="email">
              <mat-error *ngIf="loginForm.get('email').hasError('required')">
                {{emailErrorMessage[0]}}
              </mat-error>
              <mat-error *ngIf="loginForm.get('email').hasError('email') && !loginForm.get('email').hasError('required')">
                  {{emailErrorMessage[1]}}
              </mat-error>
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Enter your password" formControlName="password">
              <mat-error *ngIf="!loginForm.controls['password'].valid && loginForm.controls['password'].touched">
                  {{passwordErrorMessage}}
              </mat-error>
            </mat-form-field>      
          </div>
          <button type="submit" mat-raised-button color="primary">Login</button>
        </form>
        <button mat-raised-button routerLink="/register">New user? Sign up</button>
  </mat-card-content>
</mat-card>

